---
lang: es
---
{% assign t = site.data[page.lang].index %}

<!DOCTYPE html>
<html>
  <head>
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/poblano_rails.css">

    <meta charset="utf-8">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><img src="http://poblanorails.com/images/logo-footer.png" alt="" /></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#objetivos">Objetivos</a></li>
          <li><a href="#reuniones">Reuniones</a></li>
          <li><a href="#">Organizadores</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="#objetivos">Objetivos</a></li>
          <li><a href="#reuniones">Reuniones</a></li>
          <li><a href="#!">Organizadores</a></li>
        </ul>
      </div>
    </nav>

    <header class="teal lighten-2">
      <div clas="container">
        <div class="row">
        <div class="center-align">
          <br>
          <img src="{{ t.header.img }}" alt="" />
          <p class="white-text">{{ t.header.msg }}</p>
          <a href="{{ t.header.btn.ref }}" class="waves-effect waves-light red darken-2 white-text btn-large">{{ t.header.btn.msg }}</a>
        </div>
      </div>
    </header>


    <div id="{{ t.objectives.id }}" class="container">
      <div class='row center-align mup'>
        <h3>{{ t.objectives.title }}</h3>
        <p>{{t.objectives.msg}}</p>
        {% for obj in t.objectives.list %}
        <div class="col s4">
          <i class="medium material-icons code">{{ obj.meta.icon }}</i>
          <h4>{{ obj.title}}</h4>
          <p>{{ obj.msg}}</p>
        </div>
        {% endfor %}
      </div>
    </div>

    <div id="{{ t.meetings.id }}" class="up red darken-2 white-text">
      <div class="container">
        <div class="row center-align">
          <h3>{{ t.meetings.title }}</h3>
          {% for card in t.meetings.list %}
          <div class="col s12 m6 offset-m3">
            <div class="card">
              <div class="card-image">
                <img src="{{ card.head.img }}" alt="" />
                <span class="card-title">{{ card.head.msg }}</span>
              </div>
              <div class="card-content black-text">
                <p>{{ card.content.msg }}</p>
                <ul class="collection left-align">
                {% for meta in card.content.list %}
                    <li class="collection-item avatar">
                 {% if meta.img != null %}
                    <img src="{{ meta.img }}" alt="" class="circle"/>
                 {% elsif meta.icon %}
                    <i class="material-icons circle green white-text">{{ meta.icon }}</i>
                 {% endif %}
                    <span class="title">{{ meta.title }}</span>
                    <p>{{ meta.msg }}</p>
                  </li>
                {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <footer class="page-footer grey darken-4">
      <div class="container ">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">{{ t.footer.title }}</h5>
            <p class="grey-text text-lighten-4">{{ t.footer.msg }}</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">{{ t.footer.links.title }}</h5>
            <ul>
              {% for link in t.footer.links.list %}
              <li><a class="grey-text text-lighten-3" href="{{ link.ref}}">{{ link.msg}}</></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          {{ t.footer.license }}
          <a class="grey-text text-lighten-4 right" href="{{ t.footer.love.ref }}">{{ t.footer.love.msg }}</a>
        </div>
      </div>
    </footer>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/bin/materialize.min.js"></script>
    <script type="text/javascript" src="js/poblano_rails.js"></script>

  </body>
</html>
